@charset "UTF-8";

:root {
  /* Colors */
  --blue-gradient1: #00b7ff;
  --blue-gradient2: #0077ff;
  --blue-gradient3: #0030ce;
  --blue-gradient4: #00007a;

  --calculator: #181818;
  --key: #2c2c2c;
  --key-hover: #3b3b3b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  background-image: linear-gradient(-225deg, var(--blue-gradient1), var(--blue-gradient2), var(--blue-gradient3), var(--blue-gradient4));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.calculator {
  background-color: var(--calculator);
  color: white;
  width: 330px;
  height: max-content;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 3px 3px 8px 2px #00000065;
}

.calculator h1 {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.display {
  background-color: white;
  color: gray;
  text-align: right;
  width: 100%;
  height: max-content;
  margin-top: 8px;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 0 0 5px 1px #ffffff8c;
}

.second-line, .first-line {
  word-wrap: break-word;
}

.second-line {
  font-size: 24px;
  min-height: 45px;
  padding: 5px 10px;
}

.first-line {
  font-size: 48px;
  min-height: 65px;
  padding: 0px 10px;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 72px);
  grid-template-rows: repeat(5, 72px);
  justify-content: center;
  gap: 4px;
}

.key {
  background-color: var(--key);
  color: white;
  font-size: 1.5em;
  width: 72px;
  height: 72px;
  border: none;
  border-radius: 2px;
  justify-self: center;
  align-self: center;
}

.key[id="C"] {
  color: red;
}

.key[id="<"] {
  color: orangered;
}

.key[id="="] {
  grid-column: 4;
  grid-row: 4 / 6;
  height: 100%;
  background-color: var(--blue-gradient2);
}

.key[id="0"] {
  grid-column: 1 / 3;
  width: 100%;
}

.key:active {
  width: 95%;
  height: 95%;
  font-size: 1.4em;
}

@media (hover: hover) and (pointer: fine) {
  .key:hover {
    background-color: var(--key-hover);
  }
}
